<section class="container is-max-desktop mt-6">
    <div class="columns is-multiline is-centered">
        <div class="column is-one-third">
            <article class="card">
                <div class="card-header has-background-primary">
                    <h2 class="card-header-title">Game 1</h2>
                </div>
                <div class="card-image">
                    <ul>{{#each scores1}}
                        <li>{{this.user.name}}: {{this.score}}</li>
                    {{/each}}
                    </ul>
                </div>
            </article>
            <article class="card">
                <div class="card-header has-background-primary">
                    <h2 class="card-header-title">Game 2</h2>
                </div>
                <div class="card-image">
                    <ul>{{#each scores2}}
                        <li>{{this.user.name}}: {{this.score}}</li>
                    {{/each}}
                    </ul>
                </div>
            </article>
        </div>
        <div class="column is-one-third">
            <article class="card">
                <div class="card-header has-background-primary">
                    <h2 class="card-header-title">Game 3</h2>
                </div>
                <div class="card-image">
                    <ul>{{#each scores3}}
                        <li>{{this.user.name}}: {{this.score}}</li>
                    {{/each}}
                    </ul>
                </div>
            </article>
            <article class="card">
                <div class="card-header has-background-primary">
                    <h2 class="card-header-title">Game 4</h2>
                </div>
                <div class="card-image">
                    <ul>{{#each scores4}}
                        <li>{{this.user.name}}: {{this.score}}</li>
                    {{/each}}
                    </ul>
                </div>
            </article>
        </div>
        <div class="column is-one-third">
            <article class="card">
                <div class="card-header has-background-primary">
                    <h2 class="card-header-title">Game 5</h2>
                </div>
                <div class="card-image">
                    <ul>{{#each scores5}}
                        <li>{{this.user.name}}: {{this.score}}</li>
                    {{/each}}
                    </ul>
                </div>
            </article>
            <article class="card">
                <div class="card-header has-background-primary">
                    <h2 class="card-header-title">Game 5</h2>
                </div>
                <div class="card-image">
                    <ul>{{#each scores6}}
                        <li>{{this.user.name}}: {{this.score}}</li>
                    {{/each}}
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>